<div class="container">
	<h1 class="text-center">Compost Bins in your area </h1>
<iframe src="https://www.onemap.gov.sg/amm/amm.html?mapStyle=Grey&zoomLevel=15&marker=postalcode:533698!iwt:JTNDcCUzRUFuZyUyME1vJTIwS2lvLUhvdWdhbmclMjBBY2FjaWElMjBSTiUzQyUyRnAlM0UlMEElM0NwJTNFQ2FwYWNpdHklM0ElMjA1MCUyNSUzQyUyRnAlM0UlMEElM0NwJTNFUmVxdWlyZXMlM0ElMjBHcmVlbnMlM0MlMkZwJTNF!colour:red&marker=postalcode:530925!iwt:JTNDcCUzRUFuZyUyME1vJTIwS2lvLUhvdWdhbmclMjBMYXZlbmRlciUyMFJOJTNDJTJGcCUzRSUwQSUzQ3AlM0VDYXBhY2l0eSUzQSUyMDIwJTI1JTNDJTJGcCUzRSUwQSUzQ3AlM0VSZXF1aXJlcyUzQSUyMEdyZWVucyUzQyUyRnAlM0U=!colour:red!rType:TRANSIT!rDest:1.37525196763041,103.888186047391&marker=postalcode:544965!iwt:JTNDcCUzRUFuY2hvcnZhbGUlMjBDcmVzZW50JTIwUk4lM0MlMkZwJTNFJTBBJTNDcCUzRUNhcGFjaXR5JTNBJTIwNTAlMjUlM0MlMkZwJTNFJTBBJTNDcCUzRVJlcXVpcmVzJTNBJTIwQnJvd25zJTNDJTJGcCUzRQ==!colour:red&marker=postalcode:556129!iwt:JTNDcCUzRUJhcnRsZXklMjBSQyUzQyUyRnAlM0UlMEElM0NwJTNFQ2FwYWNpdHklM0ElMjA4MCUyNSUzQyUyRnAlM0UlMEElM0NwJTNFUmVxdWlyZXMlM0ElMjBHcmVlbnMlM0MlMkZwJTNF!colour:red&marker=postalcode:531477!iwt:JTNDcCUzRUJlZG9rJTIwUmVzZXJ2b2lyLVB1bmdnb2wlMjBDYXBldmlldyUyMFJDJTNDJTJGcCUzRSUwQSUzQ3AlM0VDYXBhY2l0eSUzQSUyMDEwJTI1JTNDJTJGcCUzRSUwQSUzQ3AlM0VSZXF1aXJlcyUzQSUyMEdyZWVucyUzQyUyRnAlM0U=!colour:red&marker=postalcode:570112!iwt:JTNDcCUzRUJpc2hhbiUyMEVhc3QlMjBab25lJTIwMSUyMFJDJTNDJTJGcCUzRSUwQSUzQ3AlM0VDYXBhY2l0eSUzQSUyMDgwJTI1JTNDJTJGcCUzRSUwQSUzQ3AlM0VSZXF1aXJlcyUzQSUyMEJyb3ducyUzQyUyRnAlM0U=!colour:red&marker=postalcode:570288!iwt:JTNDcCUzRUJpc2hhbiUyMEhlaWdodHMlMjBSQyUzQyUyRnAlM0UlMEElM0NwJTNFQ2FwYWNpdHklM0ElMjAzMyUyNSUzQyUyRnAlM0UlMEElM0NwJTNFUmVxdWlyZXMlM0ElMjBCcm93bnMlM0MlMkZwJTNF!colour:red&marker=postalcode:550410!iwt:JTNDcCUzRUJyYWRkZWwlMjBIZWlnaHRzJTIwWm9uZSUyMEMlMjBSQyUzQyUyRnAlM0UlMEElM0NwJTNFQ2FwYWNpdHklM0ElMjA2OCUyNSUzQyUyRnAlM0UlMEElM0NwJTNFUmVxdWlyZXMlM0ElMjBCcm93bnMlM0MlMkZwJTNF!colour:red&marker=postalcode:530635!iwt:JTNDcCUzRUhvbWUlM0MlMkZwJTNF!colour:darkblue&popupWidth=200" height="450" width="1140" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
	<h1 class="text-center"> Your contributions in June</h1>
	<canvas id="usergraph" width="1000"></canvas>
	<script>
		var userCanvas = document.getElementById("usergraph");

		var dataFirst = {
			label: "Daily Food Waste Contributions",
			data: [0, 0, 3, 0, 1, 0, 1, 0.5, 0, 0, 0, 3, 0, 0.5, 0],
			lineTension: 0,
			fill: false,
			borderColor: 'red'
		};

		var dataSecond = {
			label: "Cumulative Food waste Contributions",
			data: [0, 0, 3, 3, 4, 4, 5, 5.5, 5.5, 5.5, 5.5, 8.5, 8.5, 9, 9],
			lineTension: 0,
			fill: false,
		borderColor: 'blue'
		};

		var speedData = {
		labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
		datasets: [dataFirst, dataSecond]
		};

		var chartOptions = {
		legend: {
			display: true,
			position: 'top',
			labels: {
			boxWidth: 80,
			fontColor: 'black'
			}
		},
		scales: {
			yAxes: [{ticks: {min: 0, max: 10}}],
			xAxes: [{ticks: {min: 1, max: 30}}]
			}
		};

		var lineChart = new Chart(userCanvas, {
		type: 'line',
		data: speedData,
		options: chartOptions
		});
	</script>

	<h2 class="text-center mt-5"> Donation History</h2>
	<table class="table mb-5">
		<thead class="thead-dark">
			<tr>
			<th scope="col">No.</th>
			<th scope="col">Date</th>
			<th scope="col">Amount of Food Waste contributed (kg)</th>
			<th scope="col">Location</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<th scope="row">1</th>
			<td>3 June</td>
			<td>3</td>
			<td>Ang Mo Kio-Hougang Angsana RN</td>
			</tr>
			<tr>
			<th scope="row">1</th>
			<td>5 June</td>
			<td>1</td>
			<td>Ang Mo Kio-Hougang Angsana RN</td>
			</tr>			
			<tr>
			<th scope="row">1</th>
			<td>7 June</td>
			<td>1</td>
			<td>Ang Mo Kio-Hougang Ixora RN</td>
			</tr>
			<tr>
			<th scope="row">1</th>
			<td>8 June</td>
			<td>0.5</td>
			<td>Ang Mo Kio-Hougang Angsana RN</td>
			</tr>
			<tr>
			<th scope="row">1</th>
			<td>12 June</td>
			<td>3</td>
			<td>Ang Mo Kio-Hougang Ixora RN</td>
			</tr>
			<tr>
			<th scope="row">1</th>
			<td>14 June</td>
			<td>0.5</td>
			<td>Ang Mo Kio-Hougang Angsana RN</td>
			</tr>
		</tbody>
		</table>	
</div>
