<div class="text-center">
    <div class="container">
        <div class="rewards">
            <div class="points rounded-corners">
                <p>My Healthpoints</p>
                <h1> 🍀 173 Points </h1>
            </div>
            <div class="my-2">
                <h3>My Rewards</h3>
                <p>Here are the vouchers you can use</p>
                <hr/>
            </div>
            <div class="border indiv-rewards rounded-corners mt-2" style="" onclick="togglecolour(this)">
                <div class="row">
                    <div class="col-3">
                        <img src="/img/fairpricelogo.png" height="40" class="mt-3" alt="">
                    </div>
                    <div class="col-9 pt-2">
                        <h4>$5 Fairprice Voucher</h4>
                        <p> Expires on 20 June 2023 </p>
                    </div>
                </div>
            </div>
            <div class="my-2">
                <h3>Catalogue</h3>
                <p>Here's a List of all the variety of couchers for use at lifestyle retailers, F&B outlets and supermarkets</p>
                <hr/>
            </div>
            <div class="group-rewards rounded-corners">
                <div class="border indiv-rewards rounded-corners mt-2" style="" onclick="togglecolour(this)">
                    <div class="row">
                        <div class="col-3 pt-3">
                            <img src="/img/EZLinkLogo.png" height="50" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <h4>$1 Transit Link</h4>
                            <p> 150 points 🍀 </p>
                        </div>
                    </div>
                </div>
                <div class="border indiv-rewards rounded-corners mt-2" style="">
                    <div class="row">
                        <div class="col-3">
                            <img src="/img/fairpricelogo.png" height="40" class="mt-3" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <h4>$5 Fairprice Voucher</h4>
                            <p> 750 points 🍀 </p>
                        </div>
                    </div>
                </div>
                <div class="border indiv-rewards rounded-corners mt-2" style="">
                    <div class="row">
                        <div class="col-3">
                            <img src="/img/lihologo.png" height="70" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <h4>$5 Liho Voucher</h4>
                            <p> 750 points 🍀 </p>
                        </div>
                    </div>
                </div>
                <div class="border indiv-rewards rounded-corners mt-2" style="">
                    <div class="row">
                        <div class="col-3">
                            <img src="/img/mrbeanlogo.png" height="85" alt="">
                        </div>
                        <div class="col-9 pt-2">
                            <h4>$5 Mr Bean Voucher</h4>
                            <p> 750 points 🍀 </p>
                        </div>
                    </div>
                </div>
                <div class="redeem-button rounded-corners my-2">
                    <a href="/rewardsredeemed">Redeem</p>
                </div>
            </div>
        </div>
        <script>
            function togglecolour(divObj){
                if (divObj.style.backgroundColor === 'rgb(247, 252, 249)'){
                    divObj.style.backgroundColor = "#76ab8b";
                } else {
                    divObj.style.backgroundColor = "#f7fcf9";
                }
            }
        </script>
    </div>
</div>