.logo{
  width:130px;
  margin:auto;
}

.points{
  background-color: #79b899 ;
  padding-bottom: 20px;
  padding-top: 15px;
}

.rounded-corners {
  border-radius: 5px;
}

.pad  {
  padding-top: 5px;
  padding-bottom: 5px;
}

.margining {
  margin-top: 15px;
  margin-bottom: 5px;
}

.indiv-rewards {
  background-color: #79b899 ;
  padding-top: 15px;
}