.logo{
  width:130px;
  margin:auto;
}

.points{
  background-color: #79b899 ;
  padding-bottom: 20px;
  padding-top: 15px;
}

.rounded-corners {
  border-radius: 5px;
}

.pad  {
  padding-top: 5px;
  padding-bottom: 5px;
}

.margining {
  margin-top: 15px;
  margin-bottom: 5px;
}

.indiv-rewards {
  background-color: #f7fcf9 ;
}

.redeem-button {
  background-color: #b6c8fa;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color:#000000; 
  text-decoration:none; 
  cursor:pointer;  
}

.navbar-colour{
  background-color: #f6f6e9;
}
.profile {
  margin: auto;
}

.profile {
  margin: auto;
}
