<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/logo.png">
			<br>
			<h3 class="text-center">Account Login</h3>
			<form method="post" action="">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" value="{{email}}" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
				<br>
				<h5 class="text-center"><u><a href="/user/register">Sign Up</a></u></h5>
			</form>
		</div>
	</div>
</div>